<?js
// ##### BEGIN: MODIFIED BY SAP
// This file was initialy copied from https://github.com/clenemt/docdash/blob/-/tmpl/layout.tmpl
// and adjusted to offer a customized footer according to the SAP Web Presence Policy.
// See also the corresponding stylesheet content in lib/jsdoc/plugin/template/custom.css.
?>

    <?js if (title != 'Home') { ?>
    <h1 class="page-title"><?js= title ?></h1>
    <?js } ?>

    <?js= content ?>

<?js
// ##### END: MODIFIED BY SAP
?>
