<?js
var data = obj;
var self = this;
var signature = data.signature ? data.signature : '';
// Check if signature already contains closing </div>, if so don't add another one
var hasClosingDiv = signature.includes('</div>');
?>
#### <div class='jsdoc-object' id='<?js= data.id ?>'><?js= data.attribs.replace(/<div class='jsdoc-object'>/, '').replace(/<\/div>$/, '') + name + signature + (hasClosingDiv ? '' : '</div>') ?>

<?js if (data.summary) { ?>
<?js= summary ?>
<?js } ?>

<?js= this.partial('details.tmpl', data) ?>

<?js if (data.description) { ?>
<?js= data.description ?>
<?js } ?>

<?js if (data.type && data.type.names) {?>
##### Type:
- <?js= self.partial('type.tmpl', data.type.names) ?>
<?js } ?>

<?js if (data.fires && fires.length) { ?>
##### Fires:
<?js fires.forEach(function(f) { ?>
- <?js= self.linkto(f) ?>
<?js }); ?>
<?js } ?>

<?js if (data.examples && examples.length) { ?>
##### Example<?js= examples.length > 1? 's':'' ?>:
<?js= this.partial('examples.tmpl', examples) ?>
<?js } ?>
