name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  test:
    name: Unit and Integration
    strategy:
      fail-fast: false # Do not stop other jobs if one fails
      matrix:
        version: [22, 24]
        os: [ubuntu-24.04, windows-2025, macos-15]
    runs-on: ${{ matrix.os }}
    steps:

    - uses: actions/checkout@v6

    - name: Setup Node.js
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.version }}

    # This is needed as npm 11 has issues with running "npm ci" on projects that use "overrides"
    - name: Install recent npm version (Node 24 only)
      if: matrix.version == 24
      run: npm install -g npm@11 && npm --version

    - name: Install dependencies
      run: npm ci

    - name: Run unit tests
      run: npm run unit
